<div class="container">
 <div class="row">
  <table class="table table-striped">
   <h2>商品一覧</h2>
   <thead>
    <tr>
     <th>商品id</th>
     <th>商品名</th>
     <th>税抜価格</th>
     <th>ジャンル</th>
     <th>ステータス</th>
    </tr>
   </thead>

  <tbody>
   <% @item.each do |items| %>
    <tr>
     <td><%= items.id %></td>
     <td><%= items.name %></td>
     <td><%= items.price %></td>
     <td>
      <%= items.genre.name %>
     </td>
     <td>
      <% if items.is_active %>
      <p>販売中</p>
      <% else %>
      <p>販売停止中</p>
      <% end %>
     </td>
    </tr>
   <% end %>
  </tbody>
 </table>